<div class="buttons">
  <button mat-icon-button matTooltip="Toggle grid view" (click)="isList = !isList">
    <mat-icon>
      @if (isList) { grid_on }
      @else { grid_off }
    </mat-icon>
  </button>
  <button mat-icon-button matTooltip="Add new task" (click)="addTask()">
    <mat-icon>add</mat-icon>
  </button>
</div>

@if (isList) {
<app-task-list [tasks]="tasks" (onDeleteTask)="deleteTask($event)"></app-task-list>
}
@else {
<app-task-grid [tasks]="tasks" (onDeleteTask)="deleteTask($event)" (onEditTask)="editTask($event)"></app-task-grid>
}