#container {
    padding: 5vh;
    mat-card {
        max-width: 50%;
        form {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            align-items: center;
    
            .form-field {
                margin-right: 5%;
            }
        }
        button {
            margin-right: 15px;
            margin-left: 5px;
        }
    }
}
