<!-- @for (status of statuses; track $index) {
    @if (selectedStatus == status) {
        <button mat-stroked-button color="accent" (click)="selectStatus(status)">{{status}}</button>
    }
    @else {
        <button mat-stroked-button color="primary" (click)="selectStatus(status)">{{status}}</button>
    }
} -->

<mat-tab-group backgroundColor="primary" (selectedTabChange)="selectStatus(statuses[$event.index])">
    @for (status of statuses; track $index) {
        <!-- @if (selectedStatus == status) {
            <button mat-stroked-button color="accent" (click)="selectStatus(status)">{{status}}</button>
        }
        @else {
            <button mat-stroked-button color="primary" (click)="selectStatus(status)">{{status}}</button>
        } -->
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="mat-tab-task-name">{{status}}</div>
              </ng-template>
        </mat-tab>
    }
  </mat-tab-group>
  