// p {
//     color: whitesmoke;
// }

mat-card {
    margin-bottom: 5px;
}

mat-card-content {
    color: whitesmoke;
}

mat-card-footer {
    color: gray;
    text-align: center;
}

mat-card-header {
    color: white;
}

.taskCard {
    overflow: scroll;
    word-break: break-all;
}

