mat-form-field {
    margin: 10px;
}

#edit-task-form {
    display: grid;
}

mat-dialog-actions {
    justify-self: center;
}

h3 {
    justify-self: center;
    color: white;
    margin: 10px
}

mat-form-field {
    margin-bottom: 5px;
    margin-top: 5px;
}