<app-filter (onSelectedStatus)="handleSelectedStatus($event)"></app-filter>

@for (task of filteredTasks; track $index) {
<div class="task-item">
  <div class="task-name">{{ task.title }}</div>
  <div class="task-description">{{ task.description }}</div>
  <div class="task-status">{{ task.status }}</div>

  <div class="task-actions">
    <button mat-icon-button color="primary" (click)="editTask(task)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteTask(task)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
}